# SMTP Configuration
# Configure these variables in a new file named .env.local in the root directory for local development.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
CONTACT_RECEIVER_EMAIL=aneribhavsar0128@gmail.com
